a[href]:after { content : "" }
p { font-size: 12px }
code {
  font-family: "UbuntuMono Nerd Font Mono";
  color: crimson;
  background-color: #f1f1f1;
  padding: 4px;
  font-size: 11.5px;
}
ul li{
    font-size: 12px;
}
